/* GEN */

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.flex{
display: flex;
flex-direction: row;
}

/*MENÚ*/

header {
    background-color: #fff;
    max-width: 100%;
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-left: 150px;
    padding-bottom: 0px;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logotipo-navegacion{
    width: 30%;
}

.logotipo-navegacion img{
max-width: 150px;
padding-top: 5px;
}

.items-centrales{
width: 30%;
padding-right: 150px;
}

.items-centrales ul{
text-decoration: none;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0px;
}

.items-centrales ul li{ 
list-style: none;
}

.items-centrales ul li a{ 
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
position: relative;
}

.items-centrales ul li a:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0A3E27;
  /*animacion*/
  transform-origin:bottom;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.items-centrales ul li a:hover:after{
transform-origin: top;
transform: scale(1.2);
}

.items-centrales ul li a:hover{
font-weight: 800;
}

.items-usuario{
width: 15%;
padding: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-left: 110px;
}

.items-usuario .perfil a img{
width: 50px;
}

.items-usuario .carrito a img{
width: 50px;
}

.items-usuario .carrito a:hover{
    fill: #CB6E5C;
}

/* CARR */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
}

main .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 500px;
    width: 100%;
    height: 850px;
}

@media screen and (max-width: 718px) {
    main .options {
      min-width: 520px;
    }
    main .options .option:nth-child(5) {
      display: none;
    }
}

@media screen and (max-width: 638px) {
    main .options {
      min-width: 440px;
    }
    main .options .option:nth-child(4) {
      display: none;
    }
}

@media screen and (max-width: 558px) {
  main .options {
    min-width: 360px;
  }
  main .options .option:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  main .options {
    min-width: 280px;
  }
  main .options .option:nth-child(2) {
    display: none;
  }
}

main .options .option {
  position: relative;
  overflow: hidden;
  min-width: 150px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
main .options .option:nth-child(1) {
  --defaultBackground:#F8F7F3;
}
main .options .option:nth-child(2) {
  --defaultBackground:#CB6E5C;
}
main .options .option:nth-child(3) {
  --defaultBackground:#0A3E27;
}
main .options .option.active {
  flex-grow: 8;
  transform: scale(1);
  max-width: 10000px;
  background-size: auto 100%;
}

main .options .option.active .label {
    display: none;
}

main .options .option.active .option-open {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 150px 0px 0px 100px;
    height: 60vh;
}

main .options .option:not(.active) {
    flex-grow: 1;
}

main .options .option:not(.active) .label {
    display: flex;
    flex-direction: column;
}

main .options .option:not(.active) .option-open {
    display: none;
}

main .options .option .label {
    position: absolute;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

main .options .option .label .icon1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
    margin-left: 60px;
}

main .options .option .label .icon2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #CB6E5C;
  color: var(--defaultBackground);
  margin-left: 60px;
}

main .options .option .label .icon3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #0A3E27;
  color: var(--defaultBackground);
  margin-left: 60px;
}

.boton2{
    padding: 17px 25px;
    background-color:#fff;
    border: 0px;
    border-radius: 100px;
    color: #CB6E5C;
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0px 5px 5px 0px #444444;
  }

.boton2:hover{
  background-color: #CB6E5C;
  color: #fff;
  transition: .3s ease-in-out all;
}

.boton2-carrousel2{
  padding: 17px 25px;
  background-color:#CB6E5C;
  border: 0px;
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 5px 5px 0px #363636;
}

.boton2-carrousel2:hover{
background-color: #fff;
color: #CB6E5C;
transition: .3s ease-in-out all;
}

/*CARROUSEL 1*/
.options .option .option-open .carrousel1 {
  font-size: 80px;
  width: 500px;
  margin: 0;
  color: #0A3E27;
}

.options .option .option-open .parrafo-carrousel1 {
  width: 420px;
  color: #0A3E27;
  font-weight: 500;
  margin-bottom: 25px;
}
/*CARROUSEL 1*/

/*CARROUSEL 2*/
.options .option .option-open .carrousel2 {
  font-size: 80px;
  width: 500px;
  margin: 0;
  color: #fff;
}

.options .option .option-open .parrafo-carrousel2 {
  width: 420px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 25px;
}
/*CARROUSEL 2*/

/*CARROUSEL 3*/
.options .option .option-open .carrousel3 {
  font-size: 80px;
  width: 700px;
  margin: 0;
  color: #fff;
}

.options .option .option-open .parrafo-carrousel3 {
  width: 420px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 25px;
}
/*CARROUSEL 3*/

.texto-vertical1 {
    transform: rotate(90deg);
    transform-origin: left top 0;
    font-size: 40px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 510px;
    width: 0px;
    color: #0A3E27;
}

.texto-vertical2 {
  transform: rotate(90deg);
  transform-origin: left top 0;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 575px;
}

.texto-vertical3 {
  transform: rotate(90deg);
  transform-origin: left top 0;
  font-size: 40px;
  font-weight: 700;
  margin-left: 100px;
  margin-top: 450px;
  color: #fff;
}


/*HOME*/

/*FOTO-PRODUCTOS*/

/*UNIVERSO RECIRCULA*/

.productos{
  margin-left: 150px;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 125px;
  }
  
  .productos .info-superior{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 75px;
  margin-bottom: 30px;
  }
  
  .productos .info-superior .texto{
  font-size: 30px;
  font-weight: 800;
  color: #0A3E27;
  width: 88%;
  }
  
  .productos .info-superior .flechas{
  width: 12%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  }
  
  .productos .info-superior .flechas .number{
  color: #0A3E27;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  padding: 0px;
  display: flex;
  }
  
  .productos .info-superior .flechas .number p{
  margin-left: 5px;
  }
  
  .productos .info-superior .flechas img{
  max-width: 30px;
  padding: 0px;
  }
  
  /*UNIVERSO RECIRCULA*/
  
  /*GALERIA DE FOTOS*/
  
  .fotos-producto{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0px;
  }
  
  /*FIGURE 1*/
  .fotos-producto .figure1{
  position: relative;
  margin-right: -10px;
  }
  
  .fotos-producto .figure1 figure .imagen img{
  border-radius: 118px 104px 206px 0px;
  max-width: 360px;
  }
  
  .container-button{
      display: flex;
  }
  
  .fotos-producto .figure1 figure .container-button a{
      text-decoration: none;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario{
  display: flex;
  margin-top: -90px;
  padding: 10px 65px 10px 65px;
  border-radius: 60px;
  background-color: #fff;
  color: #0A3E27;
  font-size: 18px;
  font-weight: 700;
  border: none;
  align-items: center;
  position: absolute;
  left: 80px;
  opacity: 75%;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario span{
      position: absolute;
      transition: .4s ease-in-out all;
      left: 55px;
      opacity: 100%;
      z-index: 3;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario:hover{
  opacity: 100%;
  transition: ease-in-out .5s;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario:hover span{
      left: 20px;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario .fotos-producto .figure1 figure .imagen img{
  scale: 120%;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario .container-flecha{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  left: -30px;
  opacity: 0;
  transition: .4s ease-in-out all;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario:hover .container-flecha{
  left: 100%;
  opacity: 1;
  }
      
  .fotos-producto .figure1 figure .container-button a .button-secundario .container-flecha img{
  max-width: 50px;
  }
  
  .fotos-producto .figure1 figure .container-button a .button-secundario:hover .img{
  opacity: 50%;
  }
  
  /*FIGURE 1*/
  
  
  /*FIGURE 2*/
  .fotos-producto .figure2{
  position: relative;
  margin-right: -10px;
  }
  
  .fotos-producto .figure2 img{
  border-radius: 118px 104px 206px 0px;
  max-width: 360px;
  }
  
  .fotos-producto .figure2 a .button-secundario{
  position: absolute;
  }
  
  .fotos-producto .figure2 figure .container-button a .button-secundario{
      display: flex;
      margin-top: -90px;
      padding: 10px 80px 10px 80px;
      border-radius: 60px;
      background-color: #fff;
      color: #0A3E27;
      font-size: 18px;
      font-weight: 700;
      border: none;
      align-items: center;
      position: absolute;
      left: 80px;
      opacity: 75%;
      }
      
      .fotos-producto .figure2 figure .container-button a .button-secundario span{
      position: absolute;
      transition: .4s ease-in-out all;
      left: 50px;
      opacity: 100%;
      z-index: 3;
      }
      
      .fotos-producto .figure2 figure .container-button a .button-secundario:hover{
      opacity: 100%;
      transition: ease-in-out .5s;
      }
      
      .fotos-producto .figure2 figure .container-button a .button-secundario:hover span{
      left: 20px;
      }
      
      .fotos-producto .figure2 figure .container-button a .button-secundario .fotos-producto .figure1 figure .imagen img{
      scale: 120%;
      }
      
      .fotos-producto .figure2 figure .container-button a .button-secundario .container-flecha{
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
      left: -30px;
      opacity: 0;
      transition: .4s ease-in-out all;
      }
      
      .fotos-producto .figure2 figure .container-button a .button-secundario:hover .container-flecha{
      left: calc(100% + 20px);
      opacity: 1;
      }
          
      .fotos-producto .figure2 figure .container-button a .button-secundario .container-flecha img{
      max-width: 50px;
      }
      
      .fotos-producto .figure2 figure .container-button a .button-secundario:hover .img{
      opacity: 50%;
      }
      
  /*FIGURE 2*/
  
  
  /*FIGURE 3*/
  .fotos-producto .figure3{
  position: relative;
  margin-right: -10px;
  }
  
  .fotos-producto .figure3 img{
  border-radius: 118px 104px 206px 0px;
  max-width: 360px;
  }
  
  .fotos-producto .figure3 a .button-secundario{
  position: absolute;
  }
  
  .fotos-producto .figure3 figure .container-button a .button-secundario{
      display: flex;
      margin-top: -90px;
      padding: 10px 70px 10px 70px;
      border-radius: 60px;
      background-color: #fff;
      color: #0A3E27;
      font-size: 18px;
      font-weight: 700;
      border: none;
      align-items: center;
      position: absolute;
      left: 80px;
      opacity: 75%;
      }
      
      .fotos-producto .figure3 figure .container-button a .button-secundario span{
      position: absolute;
      transition: .4s ease-in-out all;
      left: 50px;
      opacity: 100%;
      z-index: 3;
      }
      
      .fotos-producto .figure3 figure .container-button a .button-secundario:hover{
      opacity: 100%;
      transition: ease-in-out .5s;
      }
      
      .fotos-producto .figure3 figure .container-button a .button-secundario:hover span{
      left: 20px;
      }
      
      .fotos-producto .figure3 figure .container-button a .button-secundario .fotos-producto .figure1 figure .imagen img{
      scale: 120%;
      }
      
      .fotos-producto .figure3 figure .container-button a .button-secundario .container-flecha{
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
      left: -30px;
      opacity: 0;
      transition: .4s ease-in-out all;
      }
      
  .fotos-producto .figure3 figure .container-button a .button-secundario:hover .container-flecha{
      left: calc(100% + 10px);
      opacity: 1;
  }
          
  .fotos-producto .figure3 figure .container-button a .button-secundario .container-flecha img{
      max-width: 50px;
  }
      
  .fotos-producto .figure3 figure .container-button a .button-secundario:hover .img{
      opacity: 50%;
  }
      
  /*FIGURE 3*/
  
  
  /*FIGURE 4*/
  .fotos-producto .figure4{
  position: relative;
  margin-right: -10px;
  }
  
  .fotos-producto .figure4 img{
  border-radius: 118px 104px 206px 0px;
  max-width: 360px;
  }
  
  .fotos-producto .figure4 a .button-secundario{
  position: absolute;
  }
  
  .fotos-producto .figure4 figure .container-button a .button-secundario{
      display: flex;
      margin-top: -90px;
      padding: 10px 55px 10px 55px;
      border-radius: 60px;
      background-color: #fff;
      color: #0A3E27;
      font-size: 18px;
      font-weight: 700;
      border: none;
      align-items: center;
      position: absolute;
      left: 80px;
      opacity: 75%;
      }
      
      .fotos-producto .figure4 figure .container-button a .button-secundario span{
      position: absolute;
      transition: .4s ease-in-out all;
      left: 40px;
      opacity: 100%;
      z-index: 3;
      }
      
      .fotos-producto .figure4 figure .container-button a .button-secundario:hover{
      opacity: 100%;
      transition: ease-in-out .5s;
      }
      
      .fotos-producto .figure4 figure .container-button a .button-secundario:hover span{
      left: 20px;
      }
      
      .fotos-producto .figure4 figure .container-button a .button-secundario .fotos-producto .figure1 figure .imagen img{
      scale: 120%;
      }
      
      .fotos-producto .figure4 figure .container-button a .button-secundario .container-flecha{
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
      left: -30px;
      opacity: 0;
      transition: .4s ease-in-out all;
      }
      
      .fotos-producto .figure4 figure .container-button a .button-secundario:hover .container-flecha{
      left: 100%;
      opacity: 1;
      }
          
      .fotos-producto .figure4 figure .container-button a .button-secundario .container-flecha img{
      max-width: 50px;
      }
      
      .fotos-producto .figure4 figure .container-button a .button-secundario:hover .img{
      opacity: 50%;
      }
      
  /*FIGURE 4*/
  
  /*GALERIA DE FOTOS*/
  
  
  /*FOTO-PRODUCTOS*/
  
  /*BANNER SECUNDARIO*/
  
  .banner-secundario img{
  width: 100%;
  position:absolute;
  z-index: 0;
  }
  
  .banner-secundario .texto-bajada{
  position:absolute;
  margin-left: 150px;
  margin-top: 20px;
  z-index: 3;
  }
  
  .banner-secundario .texto-bajada h1{
  color: #fff;
  font-size: 140px;
  font-weight: 800;
  margin-bottom: -25px;
  }
  
  .banner-secundario .texto-bajada p{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  }
  
  .boton1{
      background-color: #0A3E27;
      color: #FFF;
      border: none;
      text-decoration: none;
      border-radius: 52.6px;
      padding: 20px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
      opacity: 1;
      visibility: visible;
      transition: all .3s;
  }
  
  .boton1:hover{
      background-color: #CB6E5C;
      color: #FFF;
      padding: 20px 20px 20px 80px;
      
  }
  /*BANNER SECUNDARIO*/
  
  
  /*RE LOOK*/
  
  .re-look{
      display: flex;
      position: relative;
      z-index: 3;
      margin-top: 1200px;
  }
  
  .re-look .imagenes{
  display: flex;
  display: grid;
  grid-template-columns: 270px 500px;
  grid-template-rows: 300px 300px;
  grid-gap: 10px;
  margin-left: 100px;
  }
  
  .re-look .imagenes .pequeña{
  border-radius: 100px 0px 0px 0px;
  flex-wrap: wrap;
  max-width: 300px;
  }
  .re-look .imagenes .pequeña1{
  border-radius: 0px 0px 0px 100px;
  flex-wrap: wrap;
  max-width: 300px;
  margin-top: 95px;
  }
  
  .re-look .imagenes .gif{
  border-radius: 0px 300px 0px 0px;
  flex-wrap: nowrap;
  max-width: 594px;
  }
  
  .re-look .texto {
      margin-left: 300px;
      margin-top: 250px;
  }
  
  .re-look .texto .items{
      display: flex;
      color: #CB6E5C;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: -10px;
  }
  
  .re-look .texto h2{
      color: #0A3E27;
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 20px;
  }
  
  .re-look .texto p{
      color: #0A3E27;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 50px;
  }
  
  /*RE LOOK*/


  /*FOOTER*/

footer{
  background-color: #F8F7F3;
  z-index: 5;
  width: 100%;
  max-height: 100%;
  margin-top: 300px;
}

.footer-section{
  padding: 100px 100px 20px 200px;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  position: relative;
}

.info-principal{
  width: 60%;
}

.info-principal .logotipo-footer{
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.footer-section .info-principal p{
  color: #0A3E27;
  font-size: 18px;
  font-weight: 500;
  max-width: 450px;
  display: flex;
}

.footer-section h3{
  color: #CB6E5C;
  font-size: 23px;
  font-weight: 600;
  margin-top: 50px;
}

.footer-section .info-principal .container-footer form .newsletter input[type="email"]{
display: flex;
flex-wrap: wrap;
color: #CB6E5C;
border: solid 2pt #CB6E5C;
border-radius: 50px;
background-color: none;
padding: 15px 170px 15px 15px;
font-size: 16px;
font-weight: 400;
}

.footer-section .info-principal .container-footer form .newsletter input[type="submit"]{
display:flex;
flex-wrap: wrap;
border-radius: 50px;
background-color: none;
padding: 10px 18px 10px 18px;
font-size: 20px;
font-weight: 600;
margin-left: 40px;
}

.footer-section .info-principal .container-footer form .newsletter{
display: flex;
flex-wrap: wrap;
}

.info-principal .container-footer .redes-sociales{
display: flex;
flex-wrap:wrap;
margin-left: 100px;
margin-top: 25px;
}

.info-principal .container-footer .redes-sociales a img{
width: 200px;
height: 200px;
border: 1px solid #000;  
box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;  
} 

.submenus{
display: flex;
flex-wrap: wrap;
width: 40%;

}

.submenus .nosotros-submenus{
width: 35%;
}

.submenus .consulta-submenus{
width: 50%;
}

.submenus .nosotros-submenus h4{
color:#CB6E5C;
font-size: 20px;
font-weight: 800;
margin-bottom: 40px;
text-align: left;
}

.submenus .nosotros-submenus ul{
list-style: none;
padding-left: 0px;
}
  
.submenus .nosotros-submenus ul a{
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
position: relative;
}

.submenus .nosotros-submenus ul a:after{
content: "";
position: absolute;
right: 0;
bottom: 0;
left: 0;
height: 2px;
width: 100%;
background: #0A3E27;
/*animacion*/
transform-origin: left;
transform: scale(0);
transition: transform 0.3s ease-in-out;
}

.submenus .nosotros-submenus ul a:hover:after{
transform-origin: left;
transform: scale(1);
}

.submenus .nosotros-submenus ul li{
margin-top: 20px;
}

.submenus .consulta-submenus h4{
color:#CB6E5C;
font-size: 20px;
font-weight: 800;
margin-bottom: 40px;
text-align: left;
width: 20%;
}

.submenus .consulta-submenus ul{
list-style: none;
padding-left: 0px;
}

.submenus .consulta-submenus ul li{
margin-top: 20px;
}

.submenus .consulta-submenus ul a{
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
position: relative;
}

.submenus .consulta-submenus ul a:after{
content: "";
position: absolute;
right: 0;
bottom: 0;
left: 0;
height: 2px;
width: 100%;
background: #0A3E27;
/*animacion*/
transform-origin: left;
transform: scale(0);
transition: transform 0.3s ease-in-out;
}

.submenus .consulta-submenus ul a:hover:after{
  transform-origin: left;
  transform: scale(1);  
}

.info-inferior hr{
border: 1pt solid #D9D9D9;
opacity: 50%;
width: 100%;
}

.info-inferior{
color:#0A3E27;
font-size: 15px;
font-weight: 500;
margin-top: 25px;
}

/*FOOTER*/
