/* GEN */

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.flex{
display: flex;
flex-direction: row;
}
 
 /*MENÚ*/

header {
    background-color: #fff;
    max-width: 100%;
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-left: 150px;
    padding-bottom: 0px;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logotipo-navegacion{
    width: 30%;
}

.logotipo-navegacion img{
max-width: 150px;
padding-top: 5px;
}

.items-centrales{
width: 30%;
padding-right: 150px;
}

.items-centrales ul{
text-decoration: none;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0px;
}

.items-centrales ul li{ 
list-style: none;
}

.items-centrales ul li a{ 
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
position: relative;
}

.items-centrales ul li a:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0A3E27;
  /*animacion*/
  transform-origin:bottom;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.items-centrales ul li a:hover:after{
transform-origin: top;
transform: scale(1.2);
}

.items-centrales ul li a:hover{
font-weight: 800;
}

.items-usuario{
width: 15%;
padding: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-left: 110px;
}

.items-usuario .perfil a img{
width: 50px;
}

.items-usuario .carrito a img{
width: 50px;
}

.items-usuario .carrito a:hover{
    fill: #CB6E5C;
}

/*BARRA DE NAVEGACIÓN*/

/*RE CLUB*/

/*TEXTO*/

.texto-re-club{
    display: flex;
    flex-wrap: wrap;
    }
    
.texto-re-club .texto{
    display: flex;
    flex-direction: column;
    max-height: max-content;
    align-items: center;
    box-sizing: border-box;
    padding: 120px 150px 0px 150px;
    width: 50%;
    }
    
.texto-re-club .texto .titulo-principal h1{
    font-size: 35px;
    font-weight: 700;
    color: #0A3E27;
    }
    
.texto-re-club .texto .titulo-principal p{
    font-size: 16px;
    font-weight: 500;
    margin-top: -10px;
    color: #0A3E27;
    }
    
.texto-re-club .texto .input-google{
    display:flex;
    margin-top: 65px;
    }
    
.texto-re-club .texto .input-google a .logo-google{
    padding: 15px 125px 15px 125px;
    border-radius: 50px;
    border: 2pt solid #CB6E5C;
    background-color: #FFF;
    color:#0A3E27;
    font-size: 18px;
    font-weight: 550;
    }

    .texto-re-club .texto .input-google a .logo-google i{
      font-size: 20px;
      font-weight: 550;
      margin-right: 20px;
    }
    
.texto-re-club .texto .linea-separadora{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 50px;
    }
    
.texto-re-club .texto .linea-separadora hr{
    border: 2pt solid #000;
    width: 210px;
    padding: 0px;
    }
    
.texto-re-club .texto .linea-separadora span{
    font-size: 16px;
    font-weight: 500;
    color: #0A3E27;
    margin-left: 15px;
    margin-right: 15px;
    }
    
.texto-re-club .texto .inputs{
    margin-top: 50px;
    }
    
    .texto-re-club .texto .inputs .email label{
    display: flex;
    color: #CB6E5C;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    }
    
    .texto-re-club .texto .inputs .email input[type="email"]{
    border: 2pt solid #CB6E5C ;
    border-radius: 50px;
    color:#CB6E5C;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 280px 15px 20px;
    margin-bottom: 25px;
    }
    
    .texto-re-club .texto .inputs .contraseña label{
    display: flex;
    color: #CB6E5C;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    }
    
    .texto-re-club .texto .inputs .contraseña input[type="password"]{
    border: 2pt solid #CB6E5C ;
    border-radius: 50px;
    color:#CB6E5C;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 15px 280px 15px 20px;
    text-align: left;
    }
    
    .texto-re-club .texto .inputs .contraseña input:placeholder-shown{
    accent-color: #CB6E5C;
    }
    
    .texto-re-club .texto .opcion-recordarme{
    display: flex;
    margin-top: 10px;
    margin-left: -30px;
    justify-content: center;
    align-items: center;
    }
    
    .texto-re-club .texto .opcion-recordarme input[type="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: #CB6E5C;
    }
    
    input::-webkit-input-placeholder {
    color: #CB6E5C;
    }
    
    .texto-re-club .texto .opcion-recordarme label{
    font-size: 16px;
    font-weight: 800;
    color: #0A3E27;
    }
    
    .texto-re-club .texto .opcion-recordarme a{
    font-size: 16px;
    font-weight: 500;
    color: #0A3E27;
    margin-left: 180px;
    opacity: 75%;
    }
    
    .texto-re-club .texto .button-login{
    margin-top: 25px;
    }
    
    .texto-re-club .texto .button-login input[type="submit"]{
    background-color: #fff;
    color: #CB6E5C;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 200px 15px 200px;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 5px 5px 5px #858585;
    }

    .texto-re-club .texto .button-login input[type="submit"]:hover{
      background-color: #CB6E5C;
      color: #FFF;
    }

    
    .texto-re-club .texto .opcion-recordarme a:hover{
    color: #CB6E5C;
    font-weight: 500;
    opacity: 100%;
    }
    
    .texto-re-club .texto .crear-cuenta{
    margin-top: 30px;
    text-align: center;
    }
    
    .texto-re-club .texto .crear-cuenta p{
    color: #0A3E27;
    font-size: 16px;
    font-weight: 500;
    }
    
    .texto-re-club .texto .crear-cuenta p a{
    color: #0A3E27;
    font-size: 16px;
    font-weight: 600;
    opacity: 75%;
    }
    
    .texto-re-club .texto .crear-cuenta p a:hover{
    color: #CB6E5C;
    font-weight: 600;
    opacity: 100%;
    }
    
    /*TEXTO*/
    
    
    /*BANNER MUJER*/
    
.banner-imagen{
width: 50%;
}

.banner-imagen img{
width: 100%;
}
    
    /*BANNER MUJER*/
    

/*RE-CLUB*/
 
 
 /*FOOTER*/

  footer{
    background-color: #F8F7F3;
    z-index: 5;
    width: 100%;
    max-height: 100%;
  }
  
  .footer-section{
    padding: 100px 100px 20px 200px;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    position: relative;
  }
  
  .info-principal{
    width: 60%;
  }
  
  .info-principal .logotipo-footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
  }
  
  .footer-section .info-principal p{
    color: #0A3E27;
    font-size: 18px;
    font-weight: 500;
    max-width: 450px;
    display: flex;
  }
  
  .footer-section h3{
    color: #CB6E5C;
    font-size: 23px;
    font-weight: 600;
    margin-top: 50px;
  }
  
  .footer-section .info-principal .container-footer form .newsletter input[type="email"]{
  display: flex;
  flex-wrap: wrap;
  color: #CB6E5C;
  border: solid 2pt #CB6E5C;
  border-radius: 50px;
  background-color: none;
  padding: 15px 170px 15px 15px;
  font-size: 16px;
  font-weight: 400;
  }
  
  .footer-section .info-principal .container-footer form .newsletter input[type="submit"]{
  display:flex;
  flex-wrap: wrap;
  border-radius: 50px;
  background-color: none;
  padding: 10px 18px 10px 18px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
  }
  
  .footer-section .info-principal .container-footer form .newsletter{
  display: flex;
  flex-wrap: wrap;
  }
  
  .info-principal .container-footer .redes-sociales{
  display: flex;
  flex-wrap:wrap;
  margin-left: 100px;
  margin-top: 25px;
  }
  
  .info-principal .container-footer .redes-sociales a img{
  width: 200px;
  height: 200px;
  border: 1px solid #000;  
  box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;  
  } 
  
  .submenus{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  
  }
  
  .submenus .nosotros-submenus{
  width: 35%;
  }
  
  .submenus .consulta-submenus{
  width: 50%;
  }
  
  .submenus .nosotros-submenus h4{
  color:#CB6E5C;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: left;
  }
  
  .submenus .nosotros-submenus ul{
  list-style: none;
  padding-left: 0px;
  }
    
  .submenus .nosotros-submenus ul a{
  text-decoration: none;
  color: #0A3E27;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  }
  
  .submenus .nosotros-submenus ul a:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0A3E27;
  /*animacion*/
  transform-origin: left;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  }
  
  .submenus .nosotros-submenus ul a:hover:after{
  transform-origin: left;
  transform: scale(1);
  }
  
  .submenus .nosotros-submenus ul li{
  margin-top: 20px;
  }
  
  .submenus .consulta-submenus h4{
  color:#CB6E5C;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 40px;
  text-align: left;
  width: 20%;
  }
  
  .submenus .consulta-submenus ul{
  list-style: none;
  padding-left: 0px;
  }
  
  .submenus .consulta-submenus ul li{
  margin-top: 20px;
  }
  
  .submenus .consulta-submenus ul a{
  text-decoration: none;
  color: #0A3E27;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  }
  
  .submenus .consulta-submenus ul a:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0A3E27;
  /*animacion*/
  transform-origin: left;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  }
  
  .submenus .consulta-submenus ul a:hover:after{
    transform-origin: left;
    transform: scale(1);  
  }
  
  .info-inferior hr{
  border: 1pt solid #D9D9D9;
  opacity: 50%;
  width: 100%;
  }
  
  .info-inferior{
  color:#0A3E27;
  font-size: 15px;
  font-weight: 500;
  margin-top: 25px;
  }
  
  .boton2{
    padding: 17px 25px;
    background-color:#fff;
    border: 0px;
    border-radius: 100px;
    color: #CB6E5C;
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0px 5px 5px 0px #444444;
  }

.boton2:hover{
  background-color: #CB6E5C;
  color: #fff;
  transition: .3s ease-in-out all;
}

  /*FOOTER*/
  