html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
    flex-direction: row;
}

/*MENÚ*/

header {
    background-color: #fff;
    max-width: 100%;
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-left: 150px;
    padding-bottom: 0px;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logotipo-navegacion{
    width: 30%;
}

.logotipo-navegacion img{
max-width: 150px;
padding-top: 5px;
}

.items-centrales{
width: 30%;
padding-right: 150px;
}

.items-centrales ul{
text-decoration: none;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0px;
}

.items-centrales ul li{ 
list-style: none;
}

.items-centrales ul li a{ 
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
}

.items-centrales ul li a:hover{
font-weight: 800;
}

.items-usuario{
width: 15%;
padding: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-left: 110px;
}

.items-usuario .perfil a img{
width: 50px;
}

.items-usuario .carrito a img{
width: 50px;
}

.items-usuario .carrito a:hover{
fill: #CB6E5C;
}

/*BANNER*/

.intro{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-image:url('../img/FotoBanner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.intro h2 {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    font-weight: 400;
    color: #0A3E27;
    margin: 10px;
}

.intro p {
    font-size: 24px;
    margin-top: 10px; 
    padding: 20px; 
    border: 2px; 
    border-radius: 10px; 
    max-width: 500px; 
    text-align: center; 
    text-align: left;
}

.intro-button{
    background-color: transparent;
    color: #CB6E5C; 
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #CB6E5C;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}

.intro-button:hover {
    background-color: #CB6E5C;
    color: #fff;
}

.intro-button:hover a{
    text-decoration: none;
    color: #FFF;
}

.intro-button a{
    text-decoration: none;
    color: #CB6E5C;
}

.intro img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-banner{
    display: none;
    position: absolute;
    top: 55%;
    left: 210%;
    width: 64px;
    height: 37px;
}

#us:target {
  outline: none;
}

/* POPUP */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0A3E27;
    padding: 20px;
    border: 1px;
    z-index: 1000;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    height: 440px;
}

.popup:target {
    display: block;
}

.popup-close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
}

.popup-container {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.popup h3{
    display: flex;
    font-size: 35px;
    width: 350px;
    height: 60px;
    font-weight: 400;
    color: #fff;
    margin: 10px;
}

.popup .popup-container form {
    border-radius: 10px;
    padding: 20px;
}

.popup .popup-container form textarea::placeholder {
    color: #fff;
}
  
.popup .popup-container form input {
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    color: #D9D9D9;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.popup .popup-container form input[type="submit"]{
    text-align: center;
    width: 40%;
}
  
.popup .popup-container form button:hover {
    background-color: #0A3E27;
    color: #fff;
}

.form{
    text-align: center;
}

.popup .popup-container div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-container div:nth-child(2) .imgbanner{
    width: 280px !important;
    height: 400px;
    border-radius: 135px 135px 135px 0px;
}

/*SOBRE RECIRCULÁ*/

#us {
    position: relative;
    overflow: visible;
    height: 250px;
}

.overlapping-box {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 400px;
    background-color:#F8F7F3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlapping-box div {
    padding: 60px;
}

.overlapping-box h2 {
    text-align: center;
    font-size: 36px;
    color:#0A3E27;
    margin-top: -8px;
}

.overlapping-box p {
    font-size: 20px;
    line-height: 24px;
    margin:15px 20px 0px 20px;
    text-align: justify;
}

/*RE-BENEFICIOS*/

#benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 100px;
    padding-top: 180px;
    background-color: #0A3E27;
    color: #fff;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.benefit-content p {
    flex-grow: 1;
    max-width: 80%;
    margin-right: 10px;
}

#benefits img {
    width: 90%;
}

#benefits div:nth-child(1){
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    justify-content: center;
    align-items: center;
}

.benefit-item {
    position: relative;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #FFF;
    color: #0A3E27;
    border-radius: 100px;
    padding: 10px 0;
    margin: 3% 0;
}

.benefit-title {
    position: absolute;
    top: -55px;
    left: 70px;
    color: #fff;
    width: 80%;
}

.benefit-left {
    align-items: flex-start;
    margin-right: auto;
    padding-left: 20px;
}

.benefit-right {
    align-items: flex-end;
    margin-left: auto;
}

.benefit-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

.benefit-left .benefit-content {
    justify-content: flex-start;
}

.benefit-right .benefit-content {
    justify-content: flex-end;
    margin-left: -55px;
}

.benefit-right .benefit-content img {
    margin-left: -25px;
}

#benefits h2 {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

/*NUESTRA COLECCIÓN*/

#colection {
    background-color: #F9F9F9;
    padding: 50px 0;
    text-align: center;
}

#colection h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #CB6E5C;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;
}

#colection div:nth-child(1){
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

#colection img {
    width: 70%;
}

#colection .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 60%;
    margin: 0 auto;
}

.carousel-item {
    width: 418px;
    height: 656px;
    background-size: cover;
    background-position: center;
    border-radius: 135px;
    transform: scale(0.65);
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    filter: grayscale(100%);
    z-index: 1;
}

.carousel-item:nth-of-type(1) {
    filter: grayscale(0%);
}

.carousel-item:nth-of-type(2),
.carousel-item:nth-of-type(3) {
    z-index: 1;
}

.carousel-item:nth-of-type(2) {
    filter: grayscale(0%);
}

.carousel-item button {
    background-color: #0A3E27;
    color: #FFFFFF;
    border: none;
    border-radius: 135px;
    font-size: 18px;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.carousel-item:first-child {
    margin-left: 0;
    transform: scale(0.6);
}

.carousel-item:nth-child(2),
.carousel-item:nth-child(3) {
    margin-left: -200px;
}

.carousel-item:hover {
    transform: scale(0.7);
    filter: grayscale(0%);
    z-index: 4;
}




/*NEWSLETTER*/

#newsletter {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 46% 54%;
    height: 300px;
    color: #CB6E5C;
}

#newsletter div:nth-child(1) {
    padding: 30px 50px ;
}

#newsletter h4 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
}

#newsletter div:nth-child(1) form {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    width: 495px;
}
  
#newsletter div:nth-child(1) form input[type="email"] {
    color: #CB6E5C;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #CB6E5C;
    margin-right: 10px;
}

#newsletter div:nth-child(1) form input[type="submit"] {
    background-color: #CB6E5C;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

#newsletter div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  linear-gradient(rgba(10, 62, 39, 0.3), rgba(10, 62, 39, 0.3)), url(./../img/ImgCamisas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160px;
    border-radius: 0 76px 76px 95px;
    margin-right:80px;
}

#newsletter div:nth-child(2) img{
    height: 50%;
}


/*FOOTER*/

footer{
    background-color: #F8F7F3;
    z-index: 5;
    max-width: 100%;
    max-height: 100%;
}

.footer-section{
    padding: 100px 100px 20px 200px;
    display: flex;
    flex-wrap: wrap;
}

.info-principal{
    width: 50%;
}

.info-principal .logotipo-footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
}

.footer-section .info-principal p{
    color: #0A3E27;
    font-size: 18px;
    font-weight: 500;
    max-width: 450px;
    display: flex;
}

.footer-section h3{
    color: #CB6E5C;
    font-size: 23px;
    font-weight: 600;
    margin-top: 50px;
}

.footer-section .info-principal .container-footer .newsletter input[type="email"]{
display: flex;
flex-wrap: wrap;
color: #CB6E5C;
border: solid 2pt #CB6E5C;
border-radius: 50px;
background-color: none;
padding: 15px 170px 15px 15px;
font-size: 16px;
font-weight: 400;
}

.footer-section .info-principal .container-footer .newsletter input[type="submit"]{
display:flex;
flex-wrap: wrap;
background-color: #0A3E27;
color:#fff;
border: 2pt solid #0A3E27;
border-radius: 50px;
background-color: none;
padding: 10px 18px 10px 18px;
font-size: 20px;
font-weight: 500;
margin-left: 12px;

}

.footer-section .info-principal .container-footer .newsletter input[type="submit"]:hover{
background-color: #F8F7F3;
color: #0A3E27;
border: 2pt solid #0A3E27;

}

.footer-section .info-principal .container-footer .newsletter{
display: flex;
flex-wrap: wrap;
}

.info-principal .container-footer .redes-sociales{
display: flex;
flex-wrap:wrap;
margin-left: 100px;
margin-top: 25px;
}

.info-principal .container-footer .redes-sociales a img{
width: 200px;
height: 200px;
border: 1px solid #000;  
box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;  
} 

.submenus{
display: flex;
flex-wrap: wrap;
width: 50%;
}

.submenus .nosotros-submenus{
width: 50%;
}

.submenus .consulta-submenus{
width: 50%;
}

.submenus .nosotros-submenus h4{
color:#CB6E5C;
font-size: 20px;
font-weight: 800;
margin-bottom: 40px;
text-align: left;
}

.submenus .nosotros-submenus ul{
list-style: none;
padding-left: 0px;
}
    
.submenus .nosotros-submenus ul a{
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
}

.submenus .nosotros-submenus ul li{
margin-top: 20px;
}

.submenus .consulta-submenus h4{
color:#CB6E5C;
font-size: 20px;
font-weight: 800;
margin-bottom: 40px;
text-align: left;
width: 20%;
}

.submenus .consulta-submenus ul{
list-style: none;
padding-left: 0px;
}

.submenus .consulta-submenus ul li{
margin-top: 20px;
}

.submenus .consulta-submenus ul a{
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
}

.info-inferior hr{
border: 1pt solid #D9D9D9;
opacity: 50%;
width: 100%;
}

.info-inferior{
color:#0A3E27;
font-size: 15px;
font-weight: 500;
margin-top: 25px;
}

/*FOOTER*/


/*HOME*/


/* SHOP */

.main-shop {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
}

.intro-shop {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1.8% 0 0 1%;
}

.intro-shop span {
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.boton2{
    border-radius: 25px;
    background-color: #0A3E27;
    padding: 15px 50px;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 30px;
}

.boton2:hover{
    background-color: #0b3321;
    cursor: pointer;
}

.sidenav {
    width: 200px;
    height: fit-content;
}

.dropdown-btn {
    background: none;
    padding: 16px;
    width: 100%;
    border: none;
    border-top: 0.5px solid #ccc;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.dropdown-container {
    display: none;
    padding-left: 20px;
    padding-bottom: 10px;
}

.dropdown-container a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.products{
    width: 60%;
    padding-right: 35px;
}

.item-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.item-shop div{
    display: flex;
    flex-direction: row;
}

.item-shop div p:first-of-type{
    font-weight: bold;
    padding-right: 5px;
}

.item-image a{
    text-decoration: none;
    color: inherit;
}

.item-image a p{
    margin: 0;
    padding-top: 5px;
    font-size: 0.75em;
}

.tablet-filtro{
    display: none;
}

.item-shop img{
    max-width: 100%;
    border-radius: 45px 45px 45px 0;
}

/* PRODUCTO */

.producto-general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 10px;
    border: 2px solid #0A3E27;
    border-radius: 35px;
    height: 35px;
}

.counter div {
    width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter button {
    width: 35px;
    border: none;
    background: none;
    cursor: pointer;
}

.imagenes-producto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    width: 65%;
}

.image-preview {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.preview {
    margin-bottom: 20px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    border-radius: 20px 0 0 20px;
}

.preview:hover {
    opacity: 1;
}

.main-image {
    border-radius: 0 50px 50px 50px;
    overflow: hidden;
    height: 90%;
}

.imagen-producto {
    width: 100%;
    height: 100%;
}

.info-producto{
    width: 35%;
    padding-top: 50px;
}

.info-producto .sidenav{
    width: 100%;
    padding-right: 20.5px;
}

.recomendaciones{
    padding: 35px;
}

.recomendaciones-content div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.recomendaciones-content div a{
    text-decoration: none;
    color: inherit;
}

.recomendaciones-content div a div{
    display: flex;
    flex-direction: column;
}

.recomendaciones-content div a div p{
    margin: 0;
}

.imagen-prod-recomendado{
    height: 300px;
    border-radius: 20px 20px 0 20px;
    overflow: hidden;
}

.boton1{
    background-color: #0A3E27;
    color: #FFF;
    border: none;
    text-decoration: none;
    border-radius: 52.6px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

.boton1:hover{
    background-color: #CB6E5C;
    color: #FFF;
    padding: 20px 20px 20px 80px;
    
}

@media screen and (min-width: 1700px) {
    /* Pantallas grandes*/
    .item-shop{
        max-width: 85%;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    /*  estilos para tablets */
    .main-shop {
        flex-direction: column;
    }

    .intro-shop {
        width: 100%;
        height: 150px;
        flex-direction: column;
        padding: 0;
    }

    .tablet-filtro{
        display: block;
        margin-top: -170px;
        margin-right: 35px;
    }

    .products{
        width: 85%;
        padding: 25px;
        padding-top: 60px;
        overflow: hidden;
    }

    .products div:first-of-type{
        display: none;
    }

    .item-image {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        row-gap: 40px;
        width: 91vw;
    }

    .item-shop {
        width: 91%;
    }

    .item-shop hr {
        text-align: left;
        width: 90%;
        margin: 0;
    }

    .imagenes-producto{
        padding-right: 35px;
    }
}

@media (max-width: 767px) {
    /* estilos para teléfonos */
    .main-shop {
        flex-direction: column;
    }

    .intro-shop {
        width: 100%;
        height: 150px;
    }

    .intro-shop .sidenav{
        width: 94%;
    }

    .products{
        width: 89%;
        padding: 25px;
        padding-top: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .products div:first-of-type{
        text-align: left !important;
        padding: 10px 0;
        height: fit-content;
    }

    .products div:first-of-type .boton1{
        margin-bottom: 0;
    }

    .item-image {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        width: 75%;
        padding-bottom: 20px;
    }

    .item-shop hr {
        text-align: left;
        margin: 0;
    }

    .producto-general{
        flex-direction: column;
    }

    .imagenes-producto{
        width: 100%;
    }

    .info-producto{
        width: 100%;
        padding-top: 55px;
    }
}