/* GEN */

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: row;
}

/*MENÚ*/

header {
    background-color: #fff;
    max-width: 100%;
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-left: 150px;
    padding-bottom: 0px;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logotipo-navegacion{
    width: 30%;
}

.logotipo-navegacion img{
max-width: 150px;
padding-top: 5px;
}

.items-centrales{
width: 30%;
padding-right: 150px;
}

.items-centrales ul{
text-decoration: none;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0px;
}

.items-centrales ul li{ 
list-style: none;
}

.items-centrales ul li a{ 
text-decoration: none;
color: #0A3E27;
font-size: 18px;
font-weight: 600;
}

.items-centrales ul li a:hover{
font-weight: 800;
}

.items-usuario{
width: 15%;
padding: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin-left: 110px;
}

.items-usuario .perfil a img{
width: 50px;
}

.items-usuario .carrito a img{
width: 50px;
}

.items-usuario .carrito a:hover{
    fill: #CB6E5C;
}

/* CARR */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
}

main .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 500px;
    width: 100%;
    height: 700px;
}

@media screen and (max-width: 718px) {
    main .options {
      min-width: 520px;
    }
    main .options .option:nth-child(5) {
      display: none;
    }
}

@media screen and (max-width: 638px) {
    main .options {
      min-width: 440px;
    }
    main .options .option:nth-child(4) {
      display: none;
    }
}

@media screen and (max-width: 558px) {
  main .options {
    min-width: 360px;
  }
  main .options .option:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  main .options {
    min-width: 280px;
  }
  main .options .option:nth-child(2) {
    display: none;
  }
}

main .options .option {
  position: relative;
  overflow: hidden;
  min-width: 150px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
main .options .option:nth-child(1) {
  --defaultBackground:#F8F7F3;
}
main .options .option:nth-child(2) {
  --defaultBackground:#CB6E5C;
}
main .options .option:nth-child(3) {
  --defaultBackground:#0A3E27;
}
main .options .option.active {
  flex-grow: 8;
  transform: scale(1);
  max-width: 1000px;
  background-size: auto 100%;
}

main .options .option.active .label {
    display: none;
}

main .options .option.active .option-open {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 65px;
    height: 65vh;
}

main .options .option:not(.active) {
    flex-grow: 1;
}

main .options .option:not(.active) .label {
    display: flex;
    flex-direction: column;
}

main .options .option:not(.active) .option-open {
    display: none;
}

main .options .option .label {
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
main .options .option .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
}

.boton2{
    padding: 17px 25px;
    background-color: #0A3E27;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
}

.options .option .option-open h2{
    font-size: 80px;
    width: 500px;
    margin: 0;
    color: #0A3E27;
}

.options .option .option-open p{
    width: 420px;
    color: #0A3E27;
    font-weight: 500;
    margin-bottom: 25px;
}

.texto-vertical {
    transform: rotate(90deg);
    transform-origin: left top 0;
}