html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/*MENÚ*/

header {
    background-color: #0A3E27;
    width: 100%;
    display: table;
}

.logotipo {
    width: 200px;
    height: 70px;
    padding: 20px;
    float: left;
}

#menu {
    display: grid;
    width: 900px;
    margin: 0 auto;
}

#menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    column-gap: -100px;
    text-align: center;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/*BANNER*/

.intro{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-image:url('../img/FotoBanner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.extrabold{
    font-weight: bold;
    font-size: 100px;
}

.intro h2 {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    font-weight: 400;
    color: #0A3E27;
    margin: 10px;
}

.intro p {
    font-size: 24px;
    margin-top: 10px; 
    padding: 20px; 
    border: 2px; 
    border-radius: 10px; 
    max-width: 500px; 
    text-align: center; 
    text-align: left;
}

.intro-button{
    background-color: transparent;
    color: #CB6E5C; 
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #CB6E5C;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}

.intro-button:hover {
    background-color: #CB6E5C;
}

.intro-button:hover a{
    text-decoration: none;
    color: #FFF;
}

.intro-button a{
    text-decoration: none;
    color: #CB6E5C;
}

.intro img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* POPUP */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0A3E27;
    padding: 20px;
    border: 1px;
    z-index: 1000;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}

.popup:target {
    display: block;
}

.popup-close {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
}

/*SOBRE RECIRCULÁ*/

#us {
    position: relative;
    overflow: visible;
    height: 250px;
}

.overlapping-box {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 400px;
    background-color:#F8F7F3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlapping-box div {
    padding: 60px;
}

.overlapping-box h2 {
    text-align: center;
    font-size: 36px;
    color:#0A3E27;
    margin-top: -8px;
}

.overlapping-box p {
    font-size: 20px;
    line-height: 24px;
    margin:15px 20px 0px 20px;
    text-align: justify;
    
}

/*RE-BENEFICIOS*/

#benefits {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 100px;
    background-color: #0A3E27;
    color: #fff;
}  
  
#benefits  h2 {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold
    padding 4rem;
}  

#benefits div div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

#benefits div div div {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto auto;
  align-items: center;
}

#benefits div div div h3 {
  font-size: 1.2rem;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

#benefits div div div p {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

#benefits div div div img {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 100%;
}

/*NUESTRA COLECCIÓN*/

#colection {
    background-color: #F9F9F9;
    padding: 50px 0;
    text-align: center;
}

#colection h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #CB6E5C;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;
}

#colection .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 40%;
    margin: 0 auto;
}

.carousel-item {
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 30%;
    transform: scale(0.65);
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: -100px; 
}

.carousel-item:first-child {
    margin-left: 0; 
}

.carousel-item button {
    background-color: #CB6E5C;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.carousel-item:nth-of-type(1) {
    z-index: 3;
}

.carousel-item:nth-of-type(2) {
    z-index: 2;
}

.carousel-item:nth-of-type(3) {
    z-index: 1;
}

.carousel-item:hover {
    transform: scale(0.7);
}

/*NEWSLETTER*/

#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #CB6E5C;
    font-family: 'Montserrat', sans-serif;
}
  
#newsletter h4 {
    font-size: 30px;
    text-align: center;
}
  
#newsletter form input[type="email"] {
    color: #CB6E5C;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #CB6E5C;
    margin-right: 10px;
}

#newsletter form input[type="submit"] {
    background-color: #CB6E5C;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
#newsletter form input[type="email"]::placeholder {
    color: #CB6E5C;
 }

/* FOOTER */

footer {
    background-color: #0A3E27;
    padding: 40px 0;
    color: #fff;
    font-size: 14px;
}
  
footer div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
  
footer div div {
    margin-right: 40px;
    margin-bottom: 40px;
}
  
footer img {
    margin-bottom: 20px;
}
  
footer p {
    margin-bottom: 20px;
    line-height: 1.5;
}
  
footer a {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
}
  
footer h4 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#CB6E5C; 
}
  
footer ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}
  
footer ul li {
    margin-bottom: 10px;
}
  
footer hr {
    border: none;
    border-top: 1px solid #D9D9D9;
    margin: 40px 0;
}
  
footer .derechosdeautor {
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}

/* RESPONSIVE */
  
@media (max-width: 768px) {
    footer div div {
      margin-right: 0;
      width: 50%;
    }
}