html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/*MENÚ*/

header {
    background-color: #0A3E27;
    width: 100%;
    display: table;
}

.logotipo {
    width: 200px;
    height: 70px;
    padding: 20px;
    float: left;
}

.menu {
    display: grid;
    width: 900px;
    margin: 0 auto;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    column-gap: -100px;
    text-align: center;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


/*BANNER*/

.intro{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-image:url('../img/FotoBanner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.intro h2 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #0A3E27;
}

.extrabold {
    font-weight: 800;
}

.intro p {
    font-size: 20px;
    margin-top: 20px; 
    padding: 25px; 
    border: 2px; 
    border-radius: 10px; 
    max-width: 500px; 
    text-align: center; 
    text-align: left;
}

.intro-button{
    background-color: transparent;
    color: #CB6E5C; 
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #CB6E5C;
    cursor: pointer;
    outline: none;
}

.intro-button:hover {
    background-color: #CB6E5C;
}

.intro-button:hover a{
    text-decoration: none;
    color: #FFF;
}

.intro-button a{
    text-decoration: none;
    color: #CB6E5C;
}

/* POPUP */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0A3E27;
    padding: 20px;
    border: 1px;
    z-index: 1000;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}

.popup:target {
    display: block;
}

.popup-close {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
}

/*SOBRE RECIRCULÁ*/

#us {
    position: relative;
    overflow: visible;
    height: 250px;
}

#overlapping-box {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1114px;
    height: 270px;
    background-color:#F8F7F3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#overlapping-box div {
    padding: px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

#overlapping-box h2 {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif, bold;
    color:#0A3E27;
}

#overlapping-box p {
    font-size: 20px;
    line-height: 24px;
    margin:15px 20px 0px 20px;
    text-align: justify;
    
}

/*RE-BENEFICIOS*/

#benefits {
    background-color:#0A3E27;
    color: #fff;
    padding: 50px;
}
  
  
#benefits h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
  
 
#benefits > div {
    max-width: 1000px;
    margin: 0 auto;
}
  
#benefits > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
#benefits > div > div > div {
    width: calc(33.33% - 10px);
    margin-bottom: 30px;
}
  
#benefits > div > div > div > h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
  
#benefits > div > div > div > p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
#benefits > div > div > div > img {
    margin-top: 10px;
}

/*NUESTRA COLECCIÓN*/

#colection h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #CB6E5C;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

/*NEWSLETTER*/

#newsletter h1{
    font-size: 25px;
    font-family: "montserrat";
    text-align: center;
    color: #000;
}

#newsletter h2{
    font-size: 16px;
    font-family: "montserrat";
    text-align: center;
    color: #000;
}

/* FOOTER */

footer {
    background-color: #0A3E27;
    padding: 40px 0;
    color: #fff;
    font-size: 14px;
}
  
footer > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
  
footer > div > div {
    margin-right: 40px;
    margin-bottom: 40px;
}
  
footer img {
    margin-bottom: 20px;
}
  
footer p {
    margin-bottom: 20px;
    line-height: 1.5;
}
  
footer a {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
}
  
footer h4 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
footer ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}
  
footer ul li {
    margin-bottom: 10px;
}
  
footer hr {
    border: none;
    border-top: 1px solid #D9D9D9;
    margin: 40px 0;
}
  
footer .derechosdeautor {
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}
  
@media (max-width: 768px) {
    footer > div > div {
      margin-right: 0;
      width: 50%;
    }
}