html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*MENÚ*/

header {
    background-color: #0A3E27;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.logotipo {
    width: 200px;
    height: 70px;
    padding: 20px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

/*BANNER*/

.intro{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-image:url('../img/FotoBanner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.extrabold{
    font-weight: bold;
    font-size: 100px;
}

.intro h2 {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    font-weight: 400;
    color: #0A3E27;
    margin: 10px;
}

.intro p {
    font-size: 24px;
    margin-top: 10px; 
    padding: 20px; 
    border: 2px; 
    border-radius: 10px; 
    max-width: 500px; 
    text-align: center; 
    text-align: left;
}

.intro-button{
    background-color: transparent;
    color: #CB6E5C; 
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #CB6E5C;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}

.intro-button:hover {
    background-color: #CB6E5C;
}

.intro-button:hover a{
    text-decoration: none;
    color: #FFF;
}

.intro-button a{
    text-decoration: none;
    color: #CB6E5C;
}

.intro img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* POPUP */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0A3E27;
    padding: 20px;
    border: 1px;
    z-index: 1000;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}

.popup:target {
    display: block;
}

.popup-close {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
}

/*SOBRE RECIRCULÁ*/

#us {
    position: relative;
    overflow: visible;
    height: 250px;
}

.overlapping-box {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 400px;
    background-color:#F8F7F3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlapping-box div {
    padding: 60px;
}

.overlapping-box h2 {
    text-align: center;
    font-size: 36px;
    color:#0A3E27;
    margin-top: -8px;
}

.overlapping-box p {
    font-size: 20px;
    line-height: 24px;
    margin:15px 20px 0px 20px;
    text-align: justify;
}

/*RE-BENEFICIOS*/

#benefits {
    padding: 100px;
    background-color: #0A3E27;
    color: #fff;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefit-item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #FFF;
    color: #0A3E27;
    border-radius: 100px;
    padding: 10px 60px;
}

.benefit-left {
    align-items: flex-start;
    margin-right: auto;
}

.benefit-right {
    align-items: flex-end;
    margin-left: auto;
}

#benefits h2 {
    font-size: 40px;
    font-weight: bold;
}

/*NUESTRA COLECCIÓN*/

#colection {
    background-color: #F9F9F9;
    padding: 50px 0;
    text-align: center;
}

#colection h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #CB6E5C;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 400;
}

#colection .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 60%;
    margin: 0 auto;
}

.carousel-item {
    width: 700px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 45%;
    transform: scale(0.65);
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: -200px;
    filter: grayscale(100%);
    z-index: 1;
}

.carousel-item:first-child {
    margin-left: 0; 
}

.carousel-item button {
    background-color: #0A3E27;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.carousel-item:nth-of-type(1) {
    z-index: 3;
}

.carousel-item:nth-of-type(2) {
    filter: grayscale(0%);
    z-index: 3;
}

.carousel-item:nth-of-type(3) {
    z-index: 1;
}

.carousel-item:hover {
    transform: scale(0.7);
    filter: grayscale(0%);
    z-index: 4;
}

/*NEWSLETTER*/

#newsletter {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 46% 54%;
    width: 100%;
    height: 300px;
    color: #CB6E5C;
}

#newsletter div:nth-child(1) {
    padding: 30px 50px ;
}
  
#newsletter h4 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

#newsletter div:nth-child(1) form {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
}
  
#newsletter div:nth-child(1) form input[type="email"] {
    color: #CB6E5C;
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #CB6E5C;
    margin-right: 10px;
}

#newsletter div:nth-child(1) form input[type="submit"] {
    background-color: #CB6E5C;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

#newsletter div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  linear-gradient(rgba(10, 62, 39, 0.3), rgba(10, 62, 39, 0.3)), url(./../img/ImgCamisas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160px;
    border-radius: 0 76px 76px 95px;
    margin-right:80px;
}

#newsletter div:nth-child(2) img{
    height: 50%;
}
  
#newsletter form input[type="email"]::placeholder {
    color: #CB6E5C;
 }

/* FOOTER */

footer{
    background-color: #0A3E27;
    padding: 40px 0;
    color: #fff;
    font-size: 14px;
}

#contactanos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contactanos .extrainfo{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#contactanos .extrainfo div:nth-child(1) {
    display: inline-block;
}

#contactanos .submenus{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contactanos p {
    margin-bottom: 20px;
    line-height: 1.5;
}
  
#contactanos a {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
}
  
#contactanos h4 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#CB6E5C; 
}
  
#contactanos ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}
  
#contactanos ul li {
    margin-bottom: 10px;
}
  
#contactanos hr {
    border: none;
    border-top: 1px solid #D9D9D9;
    margin: 40px 0;
}
  
#contactanos .derechosdeautor {
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}